<ion-header>
  <ion-navbar>
      <button left ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Películas</ion-title>
    <ion-buttons end>
        <button ion-button color="primary" tooltip="Añadir nueva película" positionV="bottom" (click)="abrirModal()" style="width: 10%; right: 20px">
            <ion-icon style="zoom: 2.5;" name="add-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
<ion-item>
  <ion-label>Categorias</ion-label>
  <ion-select [(ngModel)]="cat" (ionChange)="categoriaElegida()">
    <ion-option value="Todos">Todos</ion-option>
    <ion-option value="Acción">Acción</ion-option>
    <ion-option value="Ciencia-Ficción">Ciencia-Ficción</ion-option>
    <ion-option value="Drama">Drama</ion-option>
    <ion-option value="Bélica">Bélica</ion-option>
    <ion-option value="Comedia">Comedia</ion-option>
    <ion-option value="Fantasía">Fantasía</ion-option>
    <ion-option value="Terror">Terror</ion-option>
    <ion-option value="Romántica">Romántica</ion-option>
    <ion-option value="Musical">Musical</ion-option>
    <ion-option value="Western">Western</ion-option>
  </ion-select>
</ion-item>
<hr/>
<ion-list>
  <ion-item *ngFor="let peli of list | async">
    <h1>{{peli.Titulo}}</h1>
    <h2>{{peli.Categoria}}</h2>
    <h3>{{peli.Puntuacion}}</h3>
    <button ion-button clear item-end (click)="abrirModalEdit(peli)">Editar</button>
    <button ion-button clear item-end color="danger" (click)="borrar(peli)">Borrar</button>
  </ion-item>
</ion-list>
</ion-content>
